.additional-item {
  padding-top: 13px;
  padding-bottom: 16px;
  border-top: 1px solid $border-grey-dark;

  &:last-child {
    border-bottom: 1px solid $border-grey-dark;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 26px;
    padding-left: 38px;
    padding-right: 38px;
    padding-bottom: 26px;
    border-left: 1px solid $border-grey-dark;
    border-right: 1px solid $border-grey-dark;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 0;
    padding-right: 0;
    border-left: none;
    border-right: none;
  }
}

.additional-item__title {
  margin-top: 0;
  margin-bottom: 0;

  @include oswald-text;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $text-medium;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.additional-item__values {
  display: flex;
  justify-content: space-between;
  margin-top: 11px;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    min-width: 286px;
    margin-bottom: 0;
    margin-top: 5px;
    margin-left: auto;
    margin-right: 40px;
  }
}


.additional-item__price {
  @media (min-width: $tablet-width) {
    min-width: 45px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    min-width: 45px;
    text-align: center;
  }
}

.additional-item__amount {
  @media (min-width: $tablet-width) {
    margin-right: 8px;
  }
}

.additional-item__button {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 16px;
  line-height: 0px;

  @media (min-width: $tablet-width) {
    width: 100%;
    padding-bottom: 19px;
  }

  @media (min-width: $desktop-width) {
    width: 244px;
  }
}
