.additional-products__wrapper {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 76px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 86px;
  }
}

.additional-products__title {
  @include line-title;
  margin-top: 28px;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    padding-left: 38px;
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 40px;
    margin-left: -40px;
    margin-top: 3px;
  }
}

.additional-products__list {
  @include list;
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    width: 896px;
    margin-bottom: 0;
  }
}

.additional-products__row {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}
