.form {
  @media (min-width: $tablet-width) {
    width: 630px;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.form__fieldset {
  margin: 0;
  padding-top: 25px;
  padding-bottom: 23px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;

  @include oswald-text;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-bottom: 37px;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 0;
    padding-right: 0;
    font-size: 20px;
    line-height: 30px;
  }

  &--owner {
    margin-bottom: 3px;

    @media (min-width: $tablet-width) {
      padding-bottom: 63px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 3px;
    }
  }

  &--border {
    border-top: 1px solid $border-dark;
    border-bottom: 1px solid $border-dark;

    @media (min-width: $tablet-width) {
      border: none;
    }
  }

  &--program {
    margin-bottom: 25px;
    padding-top: 20px;
    padding-bottom: 27px;

    @media (min-width: $tablet-width) {
      margin-bottom: 78px;
      padding: 25px;
      border: 1px solid $border-input;
    }

    @media (min-width: $desktop-width) {
      width: 568px;
      margin-left: auto;
      margin-bottom: 69px;
    }
  }

  &--cat-data {
    @media (min-width: $desktop-width) {
      width: 568px;
      padding: 0;
      margin-bottom: 69px;
    }
  }

  &--comment {
    margin-bottom: 3px;

    @media (min-width: $tablet-width) {
      margin-bottom: 29px;
    }
  }

  &--additional {
    @media (min-width: $tablet-width) {
      margin-bottom: 0;
      padding-bottom: 19px;
    }
  }
}

.form__fieldset--additional .form__title {
  @media (min-width: $tablet-width) {
    margin-bottom: 16px;
  }
}

.form__flex-wrap {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.form__title {
  margin-bottom: 10px;
  padding-left: 0;

  @include line-title;
  line-height: 26px;
  text-transform: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }

  &--owner {
    max-width: 203px;
    margin-bottom: 8px;

    &::after {
      top: 30%;
    }

    @media (min-width: $tablet-width) {
      max-width: inherit;
      margin-bottom: 40px;

      &::after {
        top: 50%;
      }
    }

    @media (min-width: $tablet-width) {
      margin-bottom: 41px;

      &::after {
        top: 58%;
      }
    }
  }
}

.form__label {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 14px;
  }

  @media (min-width: $tablet-width) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &--two-column {
    @media (min-width: $tablet-width) {
      width: 100%;
    }

    @media (min-width: $desktop-width) {
      width: 47%;

      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }
}

.form__email-icon {
  position: absolute;
  top: 16px;
  right: 15px;
  width: 17px;
  height: 13px;
  background-image: url("../img/icon-mail.svg");

  @media (min-width: $tablet-width) {
    top: 20px;
  }

  @media (min-width: $tablet-width) {
    top: 19px;
    right: 23px;
  }
}

.form__phone-icon {
  position: absolute;
  top: 13px;
  right: 13px;
  width: 20px;
  height: 20px;
  background-image: url("../img/icon-phone.svg");

  @media (min-width: $tablet-width) {
    top: 17px;
  }

  @media (min-width: $tablet-width) {
    top: 15px;
    right: 16px;
  }
}

.form__radio-label {
  position: relative;
  display: block;
  padding-left: 46px;
  color: $text-medium;

  @media (min-width: $tablet-width) {
    padding-left: 64px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 60px;
  }

  &:not(:first-child) {
    padding-top: 6px;
  }

  &:not(:last-child) {
    margin-bottom: 12px;
    padding-bottom: 7px;

    @media (min-width: $tablet-width) {
      margin-bottom: 9px;
    }
  }

  &::before {
    @include pseudo(0, 0, 30px, 30px);
    border: 1px solid $border-grey-dark;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      top: -1px;
      left: 3px;
      width: 40px;
      height: 40px;
    }

    @media (min-width: $desktop-width) {
      left: 0;
    }
  }

  &:hover::before {
    border-color: $border-input-hover;
  }

  &:active {
    opacity: 0.3;
  }
}

.form__radio-input:checked + .form__radio-label::after {
  @include pseudo(8px, 8px, 13.5px, 13.5px);
  border-radius: 50%;
  background-color: $basic-green;

  @media (min-width: $tablet-width) {
    top: 10px;
    left: 14px;
    width: 18px;
    height: 18px;
  }

  @media (min-width: $desktop-width) {
    left: 11px;
  }
}

.form__checkbox-label {
  position: relative;
  display: block;
  padding-bottom: 6px;
  padding-left: 46px;
  color: $black;

  &:not(:first-child) {
    padding-top: 7px;

    @media (min-width: $tablet-width) {
      padding-top: 12px;
    }
  }

  &:not(:last-child) {
    margin-bottom: 10px;

    @media (min-width: $tablet-width) {
      margin-bottom: 23px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }

  &::before {
    @include pseudo(0, 0, 30px, 30px);
    border: 1px solid $border-grey-dark;

    @media (min-width: $tablet-width) {
      top: -1px;
      left: 3px;
      width: 40px;
      height: 40px;
    }
  }

  &:hover::before {
    border-color: $border-input-hover;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: 45.5%;
    padding-left: 60px;
    margin-bottom: 23px;

    &::before {
      top: 7px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 20%;
  }
}

.form__checkbox-input:checked + .form__checkbox-label::before {
  background-image: url("../img/icon-tick.svg");
  background-size: 18px 14px;
  background-position: center center;
  background-repeat: no-repeat;
}

.form__submit {
  display: block;
  width: 280px;
  margin: 0 auto;
  margin-top: 13px;
  margin-bottom: 20px;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    margin-left: 3px;
    margin-right: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
    margin-left: 0;
    margin-top: 25px;
  }
}

.form__required-text {
  margin-bottom: 31px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-left: 3px;
    margin-top: 24px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 23px;
    margin-top: 39px;
  }
}

.form__input {
  flex-grow: 1;
  margin-left: 15px;
  min-height: 45px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  outline: 1px solid $border-input;

  @include oswald-text;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-left: 18px;
    padding-left: 19px;
    min-height: 52px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 20px;
  }

  &:hover {
    outline-color: $border-grey-dark;
  }

  &:focus {
    outline: 2px solid $text-light;
  }

  &:invalid:not(:placeholder-shown) {
    outline: 2px solid $error;
  }
}


.form__label--icon .form__input {
  outline-color: $border-grey-dark;

  &:focus {
    outline: 2px solid $text-light;
  }
}

.form__input:focus + .form__email-icon,
.form__input:focus + .form__phone-icon {
  fill: $basic-green;
}

.form__input:invalid:not(:placeholder-shown) + .form__email-icon,
.form__input:invalid:not(:placeholder-shown) + .form__phone-icon {
  fill: $error;
}

.form__radio-input,
.form__checkbox-input {
  display: none;
}

.form__textarea {
  display: block;
  width: 100%;
  min-height: 150px;
  padding-top: 13px;
  padding-left: 15px;
  padding-right: 12px;
  border: 1px solid $border-input;

  @include oswald-text;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $text-light;

  @media (min-width: $tablet-width) {
    min-height: 176px;
    margin: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 19px;
    padding-right: 19px;
    font-size: 20px;
    line-height: 30px;
  }
}
