.gift-banner {
  position: relative;
  min-height: 289px;
  margin: 0;
  padding-top: 172px;
  padding-right: 59px;
  padding-left: 55px;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $basic-green;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $white;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }

  &::after {
    @include pseudo(65px, calc(50% - 56px / 2), 56px, 60px);
    background-image: url("../img/icon-gift.svg");
    background-position: 0 0;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      left: 90px;
    }

    @media (min-width: $desktop-width) {
      left: calc(50% - 56px / 2);
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
    min-height: 200px;
    padding-top: 56px;
    padding-right: 123px;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    text-align: left;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    padding-top: 172px;
    padding-right: 41px;
    padding-left: 41px;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    text-align: center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
  }
}

.gift-banner__text {
  @media (min-width: $tablet-width) {
    max-width: 162px;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    max-width: auto;
  }
}
