.show-more {
  position: relative;
  padding-top: 64px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 19px;
  text-align: center;

  &::after {
    @include pseudo(26px, calc(50% - 30px / 2), 30px, 30px);
    background-image: url("../img/icon-plus-mobile.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    width: 324px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
    border: 2px solid $basic-grey;
    padding-top: 141px;
    padding-left: 38px;
    padding-right: 38px;
    padding-bottom: 33px;

    &::after {
      @include pseudo(52px, calc(50% - 60px / 2), 60px, 60px);
      background-image: url("../img/icon-plus.svg");
    }
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    margin-top: 72px;
    padding-left: 36px;
    padding-right: 36px;
    padding-bottom: 36px;
  }
}

.show-more__text {
  font-size: 12px;
  line-height: 16px;
  margin-top: 7px;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    max-width: 170px;
    line-height: 18px;
    font-size: 16px;
  }
}

.show-more__title {
  margin-bottom: 0;

  @include oswald-text;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $text-dark;

  @media (min-width: $tablet-width) {
    max-width: 150px;
    margin-bottom: 17px;
    font-size: 20px;
    line-height: 22px;
  }
}

.show-more__button {
  width: 100%;
  font-size: 16px;

  @media (min-width: $tablet-width) {
    margin-top: auto;
    align-self: stretch;
  }
}
