.example {
  background-color: $basic-grey-dark;

  @media (min-width: $tablet-width) {
    background-image: linear-gradient(180deg, $white 0%, $white 55%, $basic-grey-dark 55%, $basic-grey-dark 100%);
    border-top: 1px solid $border-grey;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(180deg, $white 0%, $white 25%, $basic-grey-dark 25%, $basic-grey-dark 100%);
    border-top: none;
  }
}

.example__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.example__info {
  padding-top: 27px;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 436px;
    flex-direction: column;
  }
}

.example__title {
  margin-top: 0;

  @include oswald-text;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.example__slider {
  width: 320px;
  margin: 0 auto;
  padding-bottom: 25px;

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.example__statistic {
  display: flex;
  justify-content: center;

  @include list;
  margin-bottom: 30px;

  @media (min-width: $desktop-width) {
    min-width: 162px;
    justify-content: flex-start;
  }
}

.example__statistic-point {
  min-width: 124px;
  border: 1px solid $border-grey-dark;
  border-radius: 3px;
  text-align: center;

  @media (min-width: $tablet-width) {
    min-width: 162px;
  }
}

.example__statistic-point:not(:last-child) {
  margin-right: 31px;
}

.example__value {
  display: block;
  padding-top: 15px;

  @include oswald-text;
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__desc {
  position: relative;
  bottom: -10px;
  left: calc(50% - 83px / 2);
  max-width: 82px;
  margin: 0;
  background-color: $basic-grey-dark;
  font-size: 12px;
  line-height: 12px;

  @media (min-width: $tablet-width) {
    background-color: $white;
    font-size: 14px;
    line-height: 14px;
  }

  @media (min-width: $desktop-width) {
    background-color: $basic-grey-dark;
  }
}

.example__expenses {
  @include oswald-text;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: $black;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0;
    padding-top: 10px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.example__button {
  @include oswald-text;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
