.form {
  @media (min-width: $tablet-width) {
    width: 630px;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.form__fieldset {
  margin: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;

  @include oswald-text;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-bottom: 25px;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 0;
    padding-right: 0;
    font-size: 20px;
    line-height: 30px;
  }

  &--border {
    border-top: 1px solid $border-dark;
    border-bottom: 1px solid $border-dark;

    @media (min-width: $tablet-width) {
      border: none;
    }
  }

  &--program {
    margin-bottom: 25px;

    @media (min-width: $tablet-width) {
      margin-bottom: 70px;
      padding: 25px;
      border: 1px solid $border-input;
    }

    @media (min-width: $desktop-width) {
      width: 568px;
      margin-left: auto;
    }
  }

  &--owner-data {
    @media (min-width: $desktop-width) {
      width: 568px;
      padding: 0;
    }
  }
}

.form__flex-wrap {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.form__title {
  @include line-title;
  line-height: 26px;
  margin-bottom: 10px;
  text-transform: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }

  &--owner {
    max-width: 238px;

    &::after {
      top: 30%;
    }

    @media (min-width: $tablet-width) {
      max-width: inherit;
      margin-bottom: 40px;

      &::after {
        top: 50%;
      }
    }
  }
}

.form__label {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  @media (min-width: $tablet-width) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &--two-column {
    @media (min-width: $tablet-width) {
      width: 100%;
    }

    @media (min-width: $desktop-width) {
      width: 45%;

      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }
}

.form__radio-label {
  position: relative;
  display: block;
  padding-left: 50px;
  color: $text-medium;

  &:not(:first-child) {
    padding-top: 7px;
  }

  &:not(:last-child) {
    margin-bottom: 10px;
    padding-bottom: 7px;
  }

  &::before {
    @include pseudo(0, 0, 30px, 30px);
    border: 1px solid $border-grey-dark;
    border-radius: 50%;
  }

  &:hover::before {
    border-color: $border-input-hover;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    &::before {
      top: 7px;
    }
  }
}

.form__radio-input:checked + .form__radio-label::after {
  @include pseudo(8.5px, 8.5px, 13.5px, 13.5px);
  border-radius: 50%;
  background-color: $basic-green;

  @media (min-width: $tablet-width) {
    top: 15.5px;
  }
}

.form__checkbox-label {
  position: relative;
  display: block;
  padding-left: 50px;
  color: $black;

  &:not(:first-child) {
    padding-top: 7px;
  }

  &:not(:last-child) {
    margin-bottom: 10px;
    padding-bottom: 7px;
  }

  &::before {
    @include pseudo(0, 0, 30px, 30px);
    border: 1px solid $border-grey-dark;
  }

  &:hover::before {
    border-color: $border-input-hover;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: 50%;

    &::before {
      top: 7px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 25%;
  }
}

.form__submit {
  display: block;
  width: 280px;
  margin: 0 auto;
  font-weight: normal;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    margin-right: 60px;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
  }
}

.form__required-text {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.form__input {
  flex-grow: 1;
  margin-left: 15px;
  min-height: 45px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  outline: 1px solid $border-input;

  @include oswald-text;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  &:hover {
    outline-color: $border-grey-dark;
  }

  &:focus {
    outline: 2px solid $text-light;
  }

  @media (min-width: $tablet-width) {
    min-height: 52px;
    font-size: 20px;
    line-height: 30px;
  }
}

.form__radio-input,
.form__checkbox-input {
  display: none;
}

.form__textarea {
  width: 100%;
  min-height: 150px;
  padding-top: 13px;
  padding-left: 15px;
  padding-right: 12px;
  border: 1px solid $border-input;

  @include oswald-text;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $text-light;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
