.main-footer {
  padding-top: 37px;
  padding-bottom: 24px;
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    padding-top: 55px;
    padding-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 58px;
  }
}

.main-footer__wrapper {
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.main-footer__logo {
  display: inline-block;
  width: 128px;
  height: 24px;
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.main-footer__social-media {
  @include list;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-top: 1px;
  }
}

.main-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $text-light;
  font-size: 16px;

  &:hover svg {
    fill: $basic-green;
  }

  &:active svg {
    opacity: 0.3;
  }

  @media (min-width: $desktop-width) {
    min-width: 163px;
  }
}

.main-footer__copyright svg {
  width: 27px;
  height: 34px;
  margin-left: 23px;
  fill: $grey-icon;
}
