.main-footer {
  padding-top: 39px;
  padding-bottom: 22px;
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    padding-top: 55px;
    padding-bottom: 60px;
  }
}

.main-footer__wrapper {
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.main-footer__logo {
  display: inline-block;
  width: 128px;
  height: 24px;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.main-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $text-light;

  &:hover svg {
    fill: $basic-green;
  }

  &:active svg {
    opacity: 0.3;
  }
}

.main-footer__copyright svg {
  width: 27px;
  height: 34px;
  fill: $grey-icon;
}
