.products-catalog__title {
  @include oswald-text;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 25px;
  padding-bottom: 40px;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  border-bottom: 1px solid $basic-grey-hover;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    border-bottom: none;
  }
}

.products-catalog__list {
  margin-top: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
  }
}

.products-catalog__item {
  border-bottom: 1px solid $basic-grey-hover;

  @media (min-width: $tablet-width) {
    display: flex;
    border-bottom: none;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    &:not(:nth-child(4n)) {
      margin-right: 80px;
    }
  }
}
