.selection__title {
  margin-top: 27px;
  margin-bottom: 37px;

  @include oswald-text;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: $black;

  @media (min-width: $tablet-width) {
    margin-top: 39px;
    margin-bottom: 55px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 22px;
    margin-bottom: 56px;
  }
}

.selection__text {
  max-width: 226px;

  @include oswald-text;
  text-transform: uppercase;
  color: $black;

  @media (min-width: $tablet-width) {
    margin-left: 40px;
    margin-bottom: 30px;
    max-width: 323px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    margin-bottom: 66px;
  }
}

.selection__form {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin-bottom: 53px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 63px;
  }
}
