.social-media {
  @include list;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid $border-dark;
  border-bottom: 1px solid $border-dark;

  @media (min-width: $tablet-width) {
    border: none;
    padding: 0;
    margin: 0;
  }
}

.social-media__item:not(:last-child) {
  margin-right: 36px;
}
